{% extends 'include_ratings.html' %}

{% block content %}
<h3 style="color:black">Account Info</h3>
<ul>
	<li>Name: {{ user.first_name }} {{ user.last_name }}</li>
	<li>Email: {{ user.email }}</li>
	<li>Date of Birth: {{ user.date_of_birth|date:'m/d/Y' }}</li>
	<li>Sex: {% ifequal user.sex 'M' %}Male{% else %}Female{% endifequal %}</li>
</ul>
<p><a href="/deactivate">If you want to deactivate your account, click here</a></p>
<h3 style="color:black">Movies Rated</h3>
{% if movies_rated %}
<div id="user_rated">
	<table style="width:700px">
		<colgroup>
       		<col span="1" style="width: 70%;">
       		<col span="1" style="width: 30%;">
    	</colgroup>
		{% for movie in movies_rated %}
		<tr>
			<td><a href="/movieapp/movie/{{ movie.movie__id }}">{{ movie.movie__title }}</a>{% if movie.movie__year %} ({{ movie.movie__year }}){% endif %}</td>
			<td>
				{% include "star.html" with num=forloop.counter read_only=movie.rating split=1 %}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% else %}
<p>No movies have been rated</p>
{% endif %}
{% endblock %}