{% extends 'include_ratings.html' %}

{% block more_javascript %}
{% if rating %}
    <script type="text/javascript">
		$(document).ready(function(){
			$(':submit').hide();
		});
	</script>
{% endif %} 
{% endblock %}  

{% block content %}
{% if movie %}
    <h3>{{ movie.title }} ({{ movie.year }})</h2></br>
	<b>{% if rating %}Your Rating{% else %}Rate Movie{% endif %}</b>:
	<form action="/movieapp/rate/{{ movie.id }}" method="post">{% csrf_token %}
		{% if rating %}
			{% include "star.html" with num='1' read_only=rating split=1 %}
		{% else %}
			{% include "star.html" with num='1' split=1 %}
		{% endif %}
        <input type="submit" value="Submit">
	</form></br></br>
	{% if movie.imdb_rating %}
	<p><b>IMDB Rating: </b>{{movie.imdb_rating}}</p>
	{% endif %}	
	{% if avg_rating.avg_rating %}
	<p><b>Average User Rating: </b>{{avg_rating.avg_rating}} on {{ avg_rating.count }} rating{{ avg_rating.count|pluralize }}</p>
	{% endif %}	
	<p><b>Genre{{ genres|length|pluralize }}:</b> {% if genres %}{{ genres|join:", " }}{% else %}No genres for this movie{% endif %}</p>
	<h4>Directed by: </h4>
	<ul>	
		{% for director in movie.directors.all %}
			<li><a href="/movieapp/director/{{ director.id }}/">{{ director.name }}</a></li>
		{% endfor %}
	</ul>

	<h4>Starring: </h4>
	<ul>	
	{% for actor in movie.actors.all %}
		<li><a href="/movieapp/actor/{{ actor.id }}/">{{ actor.name }}</a></li>
	
	{% endfor %}
    </ul> 
{% else %}
    <p>No movie is available.</p>
{% endif %}
{% endblock %}