{% extends 'base.html' %}

{% block javascript %}
<script src="/static/javascript/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/static/javascript/jquery.rating.pack.js" type="text/javascript"></script>
<script src="/static/javascript/jquery.MetaData.js" type="text/javascript"></script>
<script src="/static/javascript/jquery.form.js" type="text/javascript"></script>
{% endblock %}

{% block css %}
<link href="/static/css/jquery.rating.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
       
{% block content %}
{% if movie %}
    	{{ movie.title }}
    	{{ movie.year }}
    	</br></br>
    	<input name="star" type="radio" class="star"/>
		<input name="star" type="radio" class="star"/>
		<input name="star" type="radio" class="star"/>
		<input name="star" type="radio" class="star"/>
		<input name="star" type="radio" class="star"/>
		<input name="star" type="radio" class="star"/>
		<input name="star" type="radio" class="star"/>
		<input name="star" type="radio" class="star"/>
		<input name="star" type="radio" class="star"/>
		<input name="star" type="radio" class="star"/>
{% else %}
    <p>No movie are available.</p>
{% endif %}
{% endblock %}