
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

a
{
    text-decoration: none;
}

body {
    margin: 20px 0px 0px 0px;
    padding: 0;
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3C3D3F;
}

#content a {
    text-decoration: none;

}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #FF3000;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    text-decoration: none;
    color: #EB1D1D;
}

a:hover {
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
}

/* header */

#header {
    overflow: hidden;
    width: 1020px;
    height: 80px;
    padding-left:10px;
    margin: 0px auto 20px auto;

    /* background-image: url(/static/movieapp/images/img01.jpg); */
    background-repeat: no-repeat;
    background-position: 330px 22px;
}

#login {
	margin: 20px 0px;
	align: center;
}

/* Logo */

#logo {
    float: left;
    width: 300px;
    margin: 0;
    padding: 10px 0 0 0;
    color: #000000;
}

#logo h1, #logo p {
}

#logo h1 {
    letter-spacing: -1px;
    text-transform: lowercase;
    font-size: 3.4em;
    color: #0C0C0C;
}

#logo h1 a {
    color: #0C0C0C;
}

#logo h1 span {
    color: #EB1D1D;
}

#logo p {
    margin: -5px 0px 0px 0px;
    padding: 0px 0px 0px;
    text-transform: lowercase;
    font: normal 14px Georgia, "Times New Roman", Times, serif;
    font-style: italic;

    color: #45302C;
} 

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #45302C;
}

/* Search */

#search {
    float: right;
    width: 280px;
    height: 10px;
    padding: 0px 0px 0px 0px;

}

#search form {
    margin: 0;
    padding: 0px 0 0 20px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 170px;
    height: 19px;
    margin-right: 10px;
    padding: 4px 5px 1px 5px;
    border: none;
    background: #E7E7E7;
    font: normal 12px Arial, Helvetica, sans-serif;
    color:  #333333;

}

/* Menu */

#menu {
    float:right;
    width: 700px;
}

#menu ul {
    margin: 0px;
    padding: 22px 0px 10px 15px;
    list-style: none;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    float: left;
    height: 37px;
    padding: 13px 24px 0px 21px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #0C0C0C;
}

#menu a:hover, #menu .current_page_item a {
    background: #EB1D1D;
    text-decoration: none;
    color: #FFFFFF;
}

#menu .current_page_item a {
    color: #FFFFFF;
}

/* page */

#page {
    width: 1175px;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid #BBBBBB;


}

/* Content */

#content {
    width: 775px;
    height:100%;
    padding: 0px 0px 0px 75px;
    background: #FFFFFF;
    float: left;
    display:inline-block;
}

#content h3{
    color:#EB1D1D;
}


.h_message{
    width: 100%;
    border-width:thin; 
    border-color:black;
    border-style:none; 
    background-color:white;
    text-align:left;
}

.h_message h3{
    line-height: 20px;
}
.post {
    margin-bottom: 30px;
    padding: 0px 0px;
}

.post .title {
    height: 41px;
    padding: 0px 0px 0px 0px;
}

.post .title a {
    letter-spacing: -2px;
    text-decoration: none;
    text-transform: lowercase;
    color: #414141;
    border: none;
}

.post .entry {
    padding: 10px 0px 20px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #BBBBBB;
    text-align: justify;
}

#post ul li{
    line-height: 22px;
}

.entry table{
    border-collapse:collapse;
    border:1px solid #FF0000;
    border-color: black;
}

.entry td{
    border:1px solid #FF0000;
    border-color: black;
}

.entry th{
    border:1px solid #FF0000;
    border-color: black;
}

.post .meta {
    overflow: hidden;
    padding-top: 10px;
}

.nicEdit-main p {
    line-height: 18px;
}

/* Sidebar */

#sidebar {
    vertical-align: top;
    width: 300px;
    margin: 0px;
    padding: 10px 20px 0px 0px;
    display:inline-block;
    float:right;
    <!--[if IE]>
    height:100%;

    <![endif]--> 

}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0px 0px 0px 20px;
    padding: 0;
}

#sidebar li a {
    margin: 0px 0px 0px 0px;
    padding: 0;
}

#sidebar li ul {
    margin: 0px;
    padding-bottom: 10px;
}

#sidebar li li {
    line-height: 30px;
    border-bottom: 1px solid #BBBBBB;
    border-left: none;
    text-align: left;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0px 0px 0px 10px;

}

#sidebar h2 {
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    letter-spacing: -1px;
    font-size: 1.6em;
    color:#996600;
    text-transform: lowercase;
}

#sidebar p {
    margin: 0px 0px;
    line-height:18px;
    padding: 0px 0px 20px 20px;
    text-align:left;
}

#sidebar a {
    border: none;
    text-decoration: none;
    font-size:12px;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Footer */

#footer {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    border-top: 1px solid #BBBBBB;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p {
    margin: 0;
    padding: 20px 0px 0px 30px;
    line-height: normal;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #45302C;
}

#table-zebra
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 0px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#table-zebra th
{
    font-size: 12px;
    padding: 10px 8px;
    text-align:left;
    color:black;
    font-weight: bold;
}
#table-zebra td
{
    color:black;
    padding: 5px;	
}
#table-zebra .odd
{
    background-color:#E7E7E7;
}

#page textarea{
    width:500px;
}

pre {
    font-family: Arial, Helvetica, sans-serif;
    line-height:18px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.nicEdit-main ul{
    list-style: disc inside;
}

#blog_post ul {
    list-style: disc inside;
}


body{ 
    font: 14px Arial, Helvetica, sans-serif;
} 


ul {
    list-style: none;
    margin: 0; 
    padding: 0; 
}

/* 
	LEVEL ONE
*/
ul.dropdown { 
    position: relative; 
}
ul.dropdown li{ 
    font-weight: bold;
    float: left;
    zoom: 1;
    background:#cccc00;  
}

ul.dropdown a:active{
    color:white; 
}
ul.dropdown li a                    
{ 
    display: block; 
    padding: 4px 8px; 
    color: #EB1D1D; 
}
ul.dropdown li:last-child a         
{ 
    border-right: none; 
} /* Doesn't work in IE */

ul.dropdown li.hover, ul.dropdown li:hover                
{ 
    background:white;
    color: black; 
    position: relative; 
}

/* 
	LEVEL TWO
*/
ul.dropdown ul 						
{
    width: 120px;
    visibility: hidden;
    position: absolute; 
    top: 100%;
    left: 0; 
}
ul.dropdown ul li 					
{
    padding-left:10px; 
    font-weight: normal; 
    /*background: #f6f6f6; */
    background:#fbfafa;
    color: #EB1D1D; 
    border-bottom: 1px solid #ccc; float: none;
    border-right: 1px solid black; float: none; 
    border-left: 1px solid black; float: none; 
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					
{ border-right: none; 
  width: 100%; 
  display: inline-block; 
} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					
{ left: 100%; 
  top: 0;
  width:260px;
}

ul.dropdown ul li ul li{

    border: 1px solid black; float: none; 
}

ul.dropdown li:hover > ul 			
{ 
    visibility: visible; 
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0;}
#colorbox{}
#cboxTopLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -100px 0;}
#cboxTopRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -129px 0;}
#cboxBottomLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -100px -29px;}
#cboxBottomRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -129px -29px;}
#cboxMiddleLeft{width:21px; background:url(images/controls.png) left top repeat-y;}
#cboxMiddleRight{width:21px; background:url(images/controls.png) right top repeat-y;}
#cboxTopCenter{height:21px; background:url(images/border.png) 0 0 repeat-x;}
#cboxBottomCenter{height:21px; background:url(images/border.png) 0 -29px repeat-x;}
#cboxContent{background:#fff; overflow:hidden;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:28px;}
#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious.hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxNext.hover{background-position:-50px -25px;}
#cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxClose{position:absolute; bottom:0; right:0; background:url(images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}